body {
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 10px 100px;
    font-family: sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.right-links {
    display: flex;
    gap: 15px;
}

.logo {
    font-weight: bold;
}